html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/* Latihan 1 */
.container-satu {
    width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    background: url(../dasarWeb/img/bunga1.jpg);
    background-size: 30vh;
    display: flex;
}

.sidebar-satu, .sidebar-dua {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
}

.kolom-utama {
    flex: 2;
    margin: 0 10px;
    background-color: rgba(101, 101, 101, 0.6);
    padding: 10px;
    color: white;
}


.sidebar-satu{
    flex: 1;
    margin-right: 10px;
    background-color: lightblue;
    color: white;
    padding: 10px;
    background-color: rgba(101, 101, 101, 0.6);
}

.sidebar-satu h3{
    margin-top: 0;
}

.sidebar-satu a {
    color: white;
}

.sidebar-dua{
    flex: 1;
    margin-right: 10px;
    background-color: lightblue;
    padding: 10px;
    background-color: rgba(101, 101, 101, 0.6);
    color: white;
}
